/* css sosmed */
@media (max-width: 400px) {
    .garis {
        display: none;
    }

    .logo img {
        width: 50px;
    }

    .sosmed i {
        font-size: 15px;
    }
}


/* css navbar */
@media (max-width: 470px) {
    nav p {
        font-size: 12px;
    }
}

@media (max-width: 390px) {
    .navbar {
        position: relative; 
    }

    .navbar nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 35px;
        right: 0;
        width: 100%;
        background-color: #091D3E;
        border-top: 2px solid red;
        padding: 10px;
        z-index: 1;
    }

    .navbar nav a {
        text-align: center;
        margin: 10px;
    }

    nav p:hover {
        background-color: #Fff;
        border-radius: 3px;
    }

    #hamburger {
        display: block;
        position: absolute;
        top: 0;
        right: 15px; 
        cursor: pointer;
    }
}